@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}


@{
    ViewData["Title"] = "Result";
}
<html>
    <
    <body>
      <h3>The ContinousEmi is = @Model.Result</h3>
    </body>
</html>